<article id="container">

    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 div_logo">
                    <img src="./../../assets/img/logo_pcr-completa.png" width="90%" alt="Prefeitura da Cidade do Recife">
                </div>

                <div class="col-sm-6 div_form_login">

                    <form [formGroup]="forgotPasswordFormGroup">

                        <div class="row">
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="E-mail" type="text" formControlName="email" #input>
                                <mat-icon class="icon-input" matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <button mat-flat-button color="primary" class="btn-main" (click)="buttonSendEmail()">
                                Solicitar redefinição
                            </button>
                        </div>
                    </form>

                    <br>
                    <br>

                    <p>
                        Enviaremos um e-mail para fazer a redefinição de sua senha. Se não encontrar na sua caixa de entrada, procure também na sua caixa de spam.
                    </p>

                </div>

            </div>
        </div>
    </section>

</article>