<h2 mat-dialog-title>Nova Requisição</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Centro de Custo</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let custo of centroCustos" [value]="custo.value">
                            {{custo.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Matrícula</mat-label>
                    <input matInput placeholder="Matrícula">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Solicitante</mat-label>
                    <input matInput placeholder="Solicitante">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="E-mail" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Data da Solicitação</mat-label>
                    <input matInput placeholder="E-mail" required type="date">
                </mat-form-field>
            </div>
        </div>

        <mat-divider class="space-Bottom"></mat-divider>

        <div class="row">
            <div class="col-sm-12">
                <button mat-raised-button color="primary" (click)="openDialogAddProduct()">Adicionar Produto</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- CADUM do Produto Column -->
                    <ng-container matColumnDef="cadum">
                        <th mat-header-cell *matHeaderCellDef> CADUM </th>
                        <td mat-cell *matCellDef="let element"> {{element.cadum}} </td>
                    </ng-container>

                    <!-- Nome do Produto Column -->
                    <ng-container matColumnDef="nomeProduto">
                        <th mat-header-cell *matHeaderCellDef> Nome do Produto </th>
                        <td mat-cell *matCellDef="let element"> {{element.id_product}} </td>
                    </ng-container>

                    <!-- Qtd. de Produtos Column -->
                    <ng-container matColumnDef="qtdProdutos">
                        <th mat-header-cell *matHeaderCellDef> Qtd. de Produtos </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>

                    <!-- Excluir Column -->
                    <ng-container matColumnDef="excluir">
                        <th mat-header-cell *matHeaderCellDef> Excluir </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon>delete</mat-icon>
                        </td>
                    </ng-container>

                    <!-- Editar Column -->
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef> Editar </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon class="editButtonProduct" (click)="openDialogAddProduct()">edit</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>