<h2 mat-dialog-title>Secretária</h2>

<mat-dialog-content class="mat-typography">

    <form [formGroup]="secretariaFormGroup">

        <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Nome" formControlName="nome" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Responsável</mat-label>
                    <input matInput placeholder="Responsável" formControlName="responsavel" #input>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="width-input">
                    <mat-label>Fundo</mat-label>
                    <input matInput placeholder="Fundo" formControlName="fundo">
                </mat-form-field>
            </div>
        </div>

    </form>

    <mat-divider class="space-Bottom"></mat-divider>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="salvarSecretaria()">Salvar</button>
</mat-dialog-actions>