section {
    margin: 10%;
}

input {
    width: 100%;
}

img {
    width: 70%;
}

.div_logo {
    text-align: center;
    padding-top: auto;
}

.example-form-field,
mat-form-field,
button {
    width: 100%;
}

.p_password {
    cursor: pointer;
}