<div class="container">
    <h1 mat-dialog-title>Adicionar Produto</h1>
    <div class="row">
        <div class="col-sm-4">
            <mat-form-field appearance="outline" class="width-input">
                <mat-label>CADUM</mat-label>
                <input matInput placeholder="CADUM">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline" class="width-input">
                <mat-label>Produto</mat-label>
                <input matInput placeholder="Produto">
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field appearance="outline" class="width-input">
                <mat-label>QTD</mat-label>
                <input matInput placeholder="QTD">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-2">
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>Adicionar</button>
            </div>
        </div>
    </div>
</div>